# URL base de la API
VITE_API_URL=http://localhost:3002
VITE_RENDER_API_URL=https://remitos-backend.onrender.com

# Configuración de mocks (true/false)
# Puedes activar/desactivar los mocks independientemente para cada servicio
VITE_USE_MOCK_CLIENTES=false
VITE_USE_MOCK_DESTINOS=false
VITE_USE_MOCK_REMITOS=false 